dill  # for loading of pickled data
jax
jsrm  # jax-soft-robot-modelling
matplotlib  # for plotting
pycairo  # for plotting
PyQt5  # for plotting

# install hsa-planar-control
git+git://github.com/tud-phi/hsa-planar-control.git